footer.footer 
    #footer__top
        .container
            .row.pb-5
                .col-lg-4.col-md-12.col-sm-12
                    .footer__contact
                        h1.footer__heading.mt-3 Liên hệ với chúng tôi
                        ul.footer__list 
                            li.footer__list-item 
                                i.fas.fa-map-marker-alt  
                                span Tầng 4, Tòa nhà Hanoi Group  Số 442 Đội Cấn,   
                            li.footer__list-item 
                                span P. Cống Vị, Q. Ba Đình, Hà Nội
                            li.footer__list-item 
                                i.fas.fa-phone-alt 
                                span (04) 6674 2332 -  
                                i.fas.fa-fax 
                                span (04) 3786 8904
                            li.footer__list-item 
                                i.fas.fa-phone-alt 
                                span (04) 6674 2332 -  
                                i.fas.fa-envelope 
                                span(email="email") Support@bizweb.vn
                .col-lg-2.col-md-12.col-sm-12
                    .footer__shipping
                        h1.footer__heading.mt-3 Chuyển hàng
                        ul.footer__shipping-list
                            li.footer__list-item 
                                a.item__link(href="#") Mua sắm trực tuyến 
                            li.footer__list-item 
                                a.item__link(href="#") Đến từ chúng tôi gửi đến
                            li.footer__list-item 
                                a.item__link(href="#") Chính sách vận chuyển
                            li.footer__list-item 
                                a.item__link(href="#") Vận chuyển thông tin
                .col-lg-2.col-md-12.col-sm-12
                    .footer__help
                        h1.footer__heading.mt-3 Hỗ trợ
                        ul.footer__list
                            li.footer__list-item 
                                a.item__link(href="#") Câu chuyện của chúng ta
                            li.footer__list-item 
                                a.item__link(href="#") Thanh toán an toàn
                            li.footer__list-item 
                                a.item__link(href="#") Tùy chọn vận chuyển
                            li.footer__list-item 
                                a.item__link(href="#") Chính sách vận chuyển
                .col-lg-2.col-md-12.col-sm-12
                    .footer__info   
                        h1.footer__heading.mt-3 Thông tin
                        ul.footer__list
                            li.footer__list-item 
                                a.item__link(href="#") Về chúng tôi
                            li.footer__list-item 
                                a.item__link(href="#") Điều khoản và điều kiện
                            li.footer__list-item 
                                a.item__link(href="#") Chính Sách Riêng Tư
                            li.footer__list-item 
                                a.item__link(href="#") Đơn đặt hàng và Returns
                .col-lg-2.col-md-12.col-sm-12
                    .footer__account
                        h1.footer__heading.mt-3 My Account
                        ul.footer__list
                            li.footer__list-item 
                                a.item__link(href="#") Xem giỏ hàng
                            li.footer__list-item 
                                a.item__link(href="#") Sản phẩm yêu thích
                            li.footer__list-item 
                                a.item__link(href="#") Kiểm tra
                            li.footer__list-item 
                                a.item__link(href="#") Theo dõi đặt hàng của tôi
    #footer__bottom
        .container
            .row.footer__expand
                .col-lg-6.col-md-12.col-sm-12 
                    p.footer__expand-copy-right © Copyright 2008-2014 DKT Technology JSC
                .col-lg-6.col-md-12.col-sm-12
                    img(src="./assets/images/footer-bank.png", alt="footer-bank")

