/** @format */

$primary-color: #789629;
$body-color: #fff;
$header-color: #f1f1f1;
$text-color: #1a1a1a;
$text-white: #fff;
$banner-text-color: #754840;
$text-light-color: #858585;
$border-color: #e7e7e7;
$btn-color: #212121;
$footer-color: #050505;
$background-colorF2: #f2f2f2;
$home-text: #6c3c33;
$home-grid-1: #e3ce33;
$home-grid-2: #cbd3df;
$home-grid-3: #88d8da;
$home-grid-4: #f49ac2;
$text-product: #818181;
$text-product-light: #b4b4b4;
$detail-product-color: #737373;
$detail-return: #c72527;
