-
    const listMenu = [
        {
            name: "Trang chủ",href: "home"
        }, 
        {
            name: "Giới thiệu", href: "introduce", 
        },  
        {
            name: "Sản phẩm", href: "product"
        },
        {
            name: "Tin tức", href: "news"
        },
        {
            name: "Bản đồ", href: "map"
        },
        {
            name: "Liên hệ", href: "contact"
        },
    ]

    const skin = ["Áo khoác","Bộ áo liền quần","Dresses","Quần / váy","Quần short","Quần jean","Đồ đan", "Áo nỉ"]

    const dresses = ["Áo cánh / Áo sơ mi","Túi xách & Balô", "Khăn quàng cổ và Foulards","Dệt kim Hats & Gloves","Vớ & Socks","Jewerly","Bị bảo vệ","Giày"]