/** @format */

.home {
	background-color: $header-color;
	min-height: 780px;
	background-image: url(../../assets/images/Home55.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	top: -80px;
	margin-bottom: -80px;

	@include tablet {
		background-image: url(../../assets/images/home-tablet.png);
		background-position: center;
		background-size: auto;
		background-repeat: no-repeat;
		min-height: 580px;
	}
	@include mobile {
		background-image: url(../../assets/images/Home-mobile.png);
		background-position: center;
		background-size: auto;
		background-repeat: no-repeat;
		top: -170px;
		position: relative;
	}
	&__content {
		width: 100%;
		@include mobile {
			overflow: hidden;
		}
		&-left {
			text-align: center;
			position: absolute;
			bottom: 50px;
			left: 130px;

			@include tablet {
				width: 40%;
				left: 40px;
				bottom: 3rem;
			}
			@include mobile {
				width: 80%;
				left: 15px;
				bottom: 15rem;
			}
			.left__title {
				@include font('UTM ViceroyJF', 14.1, null, null, 500);
				color: $primary-color;

				@include tablet {
					display: block;
					font-size: 9rem;
				}

				@include mobile {
					// display: block;
					font-size: 8.8rem;
				}

				span {
					margin-left: -4rem;
					@include tablet {
						margin-left: -3rem;
					}
					@include mobile {
						margin-left: -3rem;
					}
				}
			}

			.left__desc {
				color: $home-text;
				font-size: 1.9rem;
				margin-top: -3.8rem;

				@include tablet {
					font-size: 1.6rem;
					margin-top: -1.8rem;
					padding: 0 4rem;
					margin-bottom: 1.5rem;
				}
				@include mobile {
					font-size: 1.6rem;
					margin-top: -1rem;
					margin-bottom: 1rem;
					padding: 0 4rem;
				}
			}
			.left__price {
				font-size: 4.5rem;
				color: $primary-color;
				text-transform: uppercase;

				sup {
					text-transform: none;
				}

				@include tablet {
					font-size: 3.5rem;
					font-weight: 300;
					margin-bottom: 3rem;
				}

				@include mobile {
					font-size: 3rem;
					font-weight: 300;
					margin-bottom: 3rem;
					margin-left: -3rem;
				}
			}
			.left__link {
				font-size: 1.8rem;
				text-decoration: underline;
				color: $text-color;
				text-transform: uppercase;
			}
		}
	}
}

.options {
	padding: 4rem 0;

	@include mobile {
		padding: 0;
	}

	&__wrap {
		border-right: 1px solid $border-color;
		text-align: center;
		@include font('Open Sans', 1.4, null, null, 600);

		@include mobile {
			border-right: unset;
			border-bottom: 1px solid $border-color;
			@include flex-box(center, flex-start);
			font-size: 1.6rem;
			font-weight: normal;
			padding: 2.5rem 9rem;
		}

		&-icon {
			@include mobile {
				font-size: 4rem;
				margin-right: 1.5rem;
			}
		}
		&-text {
			@include mobile {
				text-align: left;
			}
		}
	}
	.disable {
		border: none;
	}
}
// section quote

.quote {
	background-image: url(../../assets/images/Home14.png);
	background-repeat: no-repeat;
	background-position: right;
	padding: 7.4rem 0;

	@include tablet {
		background-image: url(../../assets/images/Home14-tablet.png);
		background-repeat: no-repeat;
		background-position: right bottom;
	}
	@include mobile {
		padding-top: 0;
		background-image: url(../../assets/images/quote-mobile.png);
		background-repeat: no-repeat;
		background-position: top right;
	}

	&__wrap {
		@include flex-box(center, center);
		@include mobile {
			flex-wrap: wrap-reverse;
		}

		&-avatar {
			border-radius: 50%;
			border: 1px solid $border-color;
			padding: 1rem;

			@include mobile {
				position: relative;
				left: -10rem;
				margin-top: -2rem;
			}
		}

		&-text {
			margin-left: 5rem;
			.text__main {
				@include font('Roboto', 1.8, 24px, null, 500);

				&-quote {
					color: $primary-color;
					font-size: 3rem;
					display: block;
					@include mobile {
						text-align: center;
						font-size: 1.4rem;
						margin-left: -5rem;
					}

					span {
						color: $text-color;
						font-size: 1.8rem;
						margin: 0.5rem;

						@include mobile {
							font-size: 1.4rem;
						}

						@include tablet {
							font-size: 1.4rem;
						}
					}
				}

				&-footer {
					width: 100%;
					@include mobile {
						position: relative;
						top: 7rem;
						display: flex;
						left: 13rem;
						flex-wrap: wrap;

						& > span {
							display: block;
							width: 100%;
						}
					}

					.footer__author {
						font-size: 1.4rem;
					}
					.footer__position {
						color: $text-light-color;
						font-style: italic;
						margin-left: 0.5rem;
						font-size: 1.4rem;
						font-weight: 600;
					}
				}
			}
		}
	}
}

// section best sell

.bestSell {
	// padding: 7.8rem;
	background: url(../../../assets/images/Home-seller.jpg);
	border-top: 1px solid $border-color;

	&__heading {
		text-align: center;
		padding-bottom: 6rem;
		padding-top: 7.8rem;
		&-title {
			padding: 0.5rem 0;
			@include flex-box(center, space-between);

			@include mobile {
				flex-wrap: wrap;
			}
			& > span {
				@include font('UTM Androgyne', 1.8, null, null, 500);
				color: $text-light-color;
				font-style: italic;
				opacity: 0.5;
			}

			& > h1 {
				@include font('UTM Androgyne', 3.3, null, null, 500);
				color: $primary-color;
				padding: 0 1.5rem;
				text-align: center;
				top: -5px;
				position: relative;

				@include mobile {
					padding: 1rem 0;
				}
			}
		}

		& > img {
			margin-left: -3rem;
		}

		&-list {
			margin: 1.5rem 0;

			@include mobile {
				display: flex;
				flex-wrap: wrap;
			}
			.list__cate {
				padding: 0 1.2rem;
				display: inline-block;
				cursor: pointer;

				@include mobile {
					flex-basis: 50%;
					text-align: left;
				}

				&:not(:last-child)::after {
					content: '.';
					font-size: 2rem;
					position: absolute;
					margin-left: 10px;
					margin-top: -8px;

					@include mobile {
						content: '';
					}
				}

				&-link {
					color: $text-product;
					@include font(null, 1.4, null, null, null);

					&:hover {
						color: $primary-color;
					}
				}
			}
		}
	}
}

// section social
.social {
	padding: calc(118px / 2) 0;
	border-top: 1px solid $border-color;

	.social-row {
		max-height: 30px;
		overflow: hidden;
	}
	&__wrap {
		@include flex-box(center, center);
		cursor: pointer;
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
		&-icon {
			display: inline-block;
			text-align: center;
			@include box(30px);
			border-radius: 50%;
			border: 2px solid $text-color;
			margin-right: 1rem;

			i {
				font-size: 1.4rem;
				margin-top: 7px;
			}
		}
		&-text {
			text-transform: uppercase;
			@include font('Myriad Pro', 1.4, null, null, 600);
		}
	}
}
// section about

.about {
	padding-bottom: 8.5rem;
	&__block {
		width: 100%;

		&-title {
			text-align: center;
			@include font('Open Sans', 1.6, null, null, bold);
			margin-bottom: 1.5rem;
		}
		&-line {
			width: 100%;
			-o-object-fit: contain;
			object-fit: contain;
			margin-bottom: 3.6rem;
		}
		&-details {
			width: 100%;

			.details__logo {
				width: 100%;
				-o-object-fit: contain;
				object-fit: contain;
				margin-bottom: 3.6rem;

				&--unset {
					width: auto;
				}
			}

			.details__title {
				@include font('Open Sans', 1.3, null, null, 600);
				text-transform: uppercase;
				margin-bottom: 2rem;
			}

			.details__text {
				@include font('Open Sans', 1.2, 18px, null, 600);
				color: $text-color;
				opacity: 0.8;
			}

			.details__author {
				font-style: italic;
				padding-bottom: 1rem;
				width: 100%;
				border-bottom: 1px solid $border-color;
				margin-bottom: 0.5rem;
			}

			& > span {
				@include font('Open Sans', 1.2);
				color: $text-light-color;
				margin-top: 1rem;
				display: inline-block;
			}

			.details__footer {
				@include flex-box(center, space-between);

				span {
					@include font('Open Sans', 1.2);
					color: $text-light-color;
				}
			}
		}

		&-contact {
			width: 100%;
			& > input {
				@include font('"Open Sans"', 1.3, null, null, bold);
				width: 100%;
				padding: 1.4rem 1.6rem;
				border: 1px solid $border-color;
				outline: none;
				color: $text-light-color;
			}
			& > p {
				text-align: center;
				margin-top: 1.2rem;
				margin-bottom: 1.8rem;
				color: $text-light-color;
			}

			& > button {
				display: block;
				padding: 1rem 1.6rem;
				font-size: 1.2rem;
				width: 78px;
				font-weight: bold;
				margin: 0 auto;
			}
		}
	}
}
