/** @format */

.cart {
	padding: 3rem 0;

	&__heading {
		font-size: 2.8rem;
		text-transform: uppercase;
	}
	&__table {
		margin: 3rem 0;
		text-align: center;
		width: 100%;

		&-head {
			font-size: 1.6rem;
			background: $header-color;
			text-transform: uppercase;
		}
		&-body {
			@include font('Open Sans', 1.5);
			vertical-align: middle !important;
			.body__img {
				@include box(145px, 100%);
				margin: auto;
				img {
					width: 100%;
					-o-object-fit: contain;
					object-fit: contain;
				}
			}
			.body__price {
				@include font('Lobster', 1.5);
			}
			.body__total {
				@extend .body__price;
			}
			.body__quantity {
				@include flex-box(center, center);
				@include box(5rem);
				border: 1px solid $border-color;
				margin: 0 auto;
				text-align: center;
				outline: none;
			}

			.body__link {
				color: $text-color;
				font-size: 2rem;
			}
		}
	}
	&__total {
		@include flex-box(center, flex-end);
		margin-bottom: 3rem;
		font-size: 2rem;

		&-price {
			margin-left: 0.5rem;
			font-family: 'Lobster', sans-serif;
			font-size: 2.5rem;
		}
	}
	&__btnGroup {
		@include flex-box(center, flex-end);
		a:hover {
			background: $primary-color;
		}

		button {
			margin: 0 1rem;

			&:hover {
				background: $primary-color;
			}
		}
	}
}
