/** @format */
@import '../base/mixins';
@import '../base/variables';
@import '../base/global';
.signup {
	margin-top: 3rem;
	padding-bottom: 6rem;
	&__heading {
		@include flex-box(center, space-between);
		margin-bottom: 2.8rem;
		&-title {
			@include font('Open Sans', 2.8, 24px, null, 400);
			text-transform: uppercase;
		}
		&-btn {
			border-radius: unset;
			font-size: 1.2rem;
			padding: 1rem 1.8rem;
		}
	}
	&__body {
		background-color: $background-colorF2;
		padding: 4rem 5rem;

		&-title {
			@include font('Open Sans', 1.8, 24px, null, null);
			text-transform: uppercase;
			padding-bottom: 1.8rem;
		}
		&-text {
			@include font('Open Sans', 1.2, null, null, 600);
			margin-bottom: 5rem;
		}
		&-form {
			width: 100%;
			@include font('Open Sans', 1.2, null, null, 600);
		}
		&-btn {
			border-radius: unset;
			padding: 0.8rem 1.8rem;
			margin-top: 1.5rem;
		}
	}
}
