extend ../layouts/layout.pug
block content 
    section.home
        .container 
            .row.home__content 
                .col-lg-6.col-md-6-col-sm-6
                    .home__content-left
                        .left__image 
                            img(src="./assets/images/home3.jpg" alt="Home 3")
                .col-lg-6.col-md-6.col-sm-6 
                    .home__content-right
                        img(src="./assets/images/Home5.png" alt="Home5 ")

