/** @format */

.breadcrumbs {
	padding: 2.4rem 0;
	border-bottom: 1px dashed $border-color;
	font-size: 1.2rem;
	font-size: 1.3rem;
	font-weight: bold;

	.active {
		color: $primary-color;
	}

	a {
		color: $text-light-color;
	}
}
